<div class="container">
  <div class="showroom-presentation text-center">
    <h1>Nos produits</h1>
    <p>Velit aliquip reprehenderit labore laborum labore enim ad ut laborum minim deserunt. Nostrud pariatur sunt non nisi deserunt adipisicing proident commodo nisi. Ad ipsum non ullamco reprehenderit eu laboris qui quis consequat mollit sunt. Labore ex deserunt occaecat minim adipisicing esse. Elit et voluptate esse tempor amet cupidatat consectetur quis quis laborum Lorem proident. Excepteur ex amet non eiusmod labore nostrud tempor.</p>
    <div class="group-of-icons">
      <div class="summary-icons-details">
        <div class="icon">
          <i class="fas fa-hand-holding-heart col-3"></i>
          <p>Fait main avec amour</p>
        </div>
        <div class="icon">
          <i class="fas fa-map-pin col-3"></i>
          <p>Produit localement</p>
        </div>
        <div class="icon">
          <i class="fas fa-globe-americas col-3"></i>
          <p>Respectueux de l'environnement</p>
        </div>
      </div>
      <div class="summary-icons-details">
        <div class="icon">
          <i class="fas fa-water col-3"></i>
          <p>Inspiree par la nature</p>
        </div>
        <div class="icon">
          <i class="fas fa-leaf col-3"></i>
          <p>Produit naturelle et durable</p>
        </div>
        <div class="icon">
          <i class="fas fa-sun col-3"></i>
          <p>Home Sweet Home</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <h1>Séries limités</h1>
    <div data-controller="hello" class="swiper-container">
      <div class="swiper-wrapper col-4">
        <% @items_by_most_recent.each do |item|%>
          <div class="">
            <div class="swiper-slide card-item">
              <%= cl_image_tag item.photo.key %>
              <%= link_to item_path(item) do %>
                  <div class="card-item-infos">
                    <div class="d-flex justify-content-between">
                      <h2 class="item-name"><%= item.name %> </h2>
                      <h2 class="item-price"><%= item.price %>€</h2>
                    </div>
                    <p class="item-description"><%=item.description.truncate(100)%></p>
                  </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <h1>Pièces uniques</h1>
    <% @items_by_most_recent.each do |item|%>
      <div class="col-4">
        <div class="card-item">
          <%= cl_image_tag item.photo.key %>
          <%= link_to item_path(item) do %>
              <div class="card-item-infos">
                <div class="d-flex justify-content-between">
                  <h2 class="item-name"><%= item.name %> </h2>
                  <h2 class="item-price"><%= item.price %>€</h2>
                </div>
                <p class="item-description"><%=item.description.truncate(100)%></p>
              </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
